@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-accent: #0ea5e9;
  --color-accent-silver: #e2e8f0;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}
